.hover\:font-thin:hover {
  font-weight: 100;
}
.hover\:font-extralight:hover {
  font-weight: 200;
}
.hover\:font-light:hover {
  font-weight: 300;
}
.hover\:font-normal:hover {
  font-weight: 400;
}
.hover\:font-medium:hover {
  font-weight: 500;
}
.hover\:font-semibold:hover {
  font-weight: 600;
}
.hover\:font-bold:hover {
  font-weight: 700;
}
.hover\:font-extrabold:hover {
  font-weight: 800;
}

.focus\:font-thin:focus {
  font-weight: 100;
}
.focus\:font-extralight:focus {
  font-weight: 200;
}
.focus\:font-light:focus {
  font-weight: 300;
}
.focus\:font-normal:focus {
  font-weight: 400;
}
.focus\:font-medium:focus {
  font-weight: 500;
}
.focus\:font-semibold:focus {
  font-weight: 600;
}
.focus\:font-bold:focus {
  font-weight: 700;
}
.focus\:font-extrabold:focus {
  font-weight: 800;
}

.active\:font-thin:active {
  font-weight: 100;
}
.active\:font-extralight:active {
  font-weight: 200;
}
.active\:font-light:active {
  font-weight: 300;
}
.active\:font-normal:active {
  font-weight: 400;
}
.active\:font-medium:active {
  font-weight: 500;
}
.active\:font-semibold:active {
  font-weight: 600;
}
.active\:font-bold:active {
  font-weight: 700;
}
.active\:font-extrabold:active {
  font-weight: 800;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.active\:text-white:active {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.focus\:text-white:focus {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}
.bg-white {
  --tw-text-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.min-h-for-screen {
  --tw-footer-height: 109px;
  min-height: calc(100vh - var(--tw-footer-height));
}